<!DOCTYPE html>
<html>
  <title>Stripe Payment Demo</title>
  <body>
    <script defer src="app.ts"></script>
    <h3>Welcome to Payment Gateway</h3>
    <button class="abc">ABC</button>
    <form action="create-checkout-session" method="POST">
      <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%= key %>"
        data-amount="1000"
        data-currency="usd"
        data-name="Sarmad"
        data-description="Stripe Integration"
        data-locale="auto"
      ></script>
    </form>
  </body>
</html>
